<div class="inicio-container">
    <img src="https://cdn-icons-png.flaticon.com/512/5373/5373076.png" alt="Conversor de Moedas" class="inicio-image"/>

    <h1>Bem-vindo ao Conversor de Moedas</h1>
    <p>
        Esta aplicação permite a conversão de valores entre diferentes moedas de forma fácil e rápida.
    </p>
    <p>
        Você pode acompanhar seu histórico de conversões e explorar a lista de moedas disponíveis para facilitar sua escolha.
    </p>
    <p>
        Utiliza os serviços providos pela API: <a href="https://www.exchangerate-api.com" target="_blank" class="link">https://www.exchangerate-api.com/</a>
    </p>
    <button mat-raised-button color="primary" routerLink="/conversao-moedas">Começar a Converter</button>
</div>
  